<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication2.My.MySettings.conexion" connectionString="Data Source=USUARIO\SQLEXPRESS;Initial Catalog=UNIDOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.UNIDOSConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UNIDOS.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>